

body{
    text-align: center;
    font-family: "Irish Grover", sans-serif;
    
        
}
.Title{
    color: #D4AF37;
    padding-top: 200px;
    
}
h1{
    font-size: 6rem;
    
}
.Aslam


.Hero{
    background-image: url("./Asset/image.png");
    height: 100vh;
    background-size: cover;        /* scales image to fill container */
    background-position: center;   /* centers exact crop region */
    background-repeat: no-repeat;
    
}

html,body{
    margin: 0;
    padding: 0;
}